.content_body {
    height: 100%;
    width: 100%;
    padding-top: 0px;
    background-color: #87CEFA;
    /* background-image: url(Zanga_Background.png); */
    /* animation: change 15s infinite step-end;
    background-repeat: no-repeat;
    background-size: cover; */
    
    }
    
    /* @keyframes change {
      0%
      {
        background-image: url(background1.png);
      }
      20%{
        background-image: url(background2.png);
      }
      40%{
        background-image: url(background3.png);
      }
      60%{
        background-image: url(background1.png);
      }
      80%{
        background-image: url(background2.png);
      }
      100%{
        background-image: url(background3.png);
      }
    } */
  
     
 