.container2{
    position: relative;
    top: 0px;
    transition: all .3s ease-in;
    z-index: 4;
    width: 100%;
}

.sell-space{
    width: 100%;
   border: 1px solid #ececec;
    background: transparent;
    height: 40px;
    display: flex;
     padding: 10px;
     align-items: center;
     justify-content: space-around;
     box-shadow: 0 1px 3px -2px black;
     z-index: 4;
     position: relative;
     top: 25px;
     transition: all .3s ease-in

}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 200px;
    color: #626262;
    font-weight: 500;
    font-size: 20px;
}

.nav-menu li{
    cursor: pointer;
    text-decoration: none;
  
}


.nav-menu li a:link, :visited, :active{
    text-decoration: none;
    color: inherit;
}

.nav-menu li a:hover{
    color: rgb(212, 97, 97);
}

@media(max-width:1280px){
     .sell-space{
        width: 1280;
        display: none;
    
    }
}